ul {
    list-style: none;
}

li {
    padding: 10px;
}

.user-card {
    background-color: white;
    opacity: 1;
    border: solid 1px black;
    padding: 20px;
}

.selected-fave {
    background-color: grey;
    width: 100%;
    margin-top: 15px;
}

.hide {
    display: none;
}
